/* 
* @Author: liyu
* @Date:   2016-02-18 09:54:40
* @Last Modified by:   liyu
* @Last Modified time: 2016-02-23 01:36:24
*/
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
}
body{
  background-color: rgb(245,245,245);
  background-color: rgb(229,229,229);
}
a {
  color: rgba(0,0,0,0.6);
}
p {
  margin: 10px 0px;
}
hr {
  border-top: 1px solid #526F6F;
  width: 80%;
  padding-bottom: 10px;
  margin: 10px auto;
}
.main{
  width: 800px;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  background-color: rgba(102, 204, 153, 0.65);
  /*background-color: rgb(36,146,108);*/
  box-shadow: 1px 2px 5px rgba(0,0,0,0.24), 1px 2px 5px rgba(0,0,0,0.24);
}
.main-left{
  /*黄金分割*/
  width: 32%;
  box-sizing: border-box;
  float: left;
}
.avata p {
  padding-bottom: 10px;
}
.avata-img{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.middle{
  text-align: center;
}
.job{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(255,255,255,1);
}
.name{
  font-size: 1.5rem;
  font-weight: 600;
  /*color: rgba(11,11,0,0.8);*/
  color: #526F6F;
}
.english-name{
  font-size: 1.2rem;
}
.skill-all{
  padding-bottom: 10px;
}
.skill{
  width: 80%;
  margin: 10px auto;
  overflow: hidden;
}
.skill div{
  line-height: 16px;
  float: right;
}
.skill-level,.skill-level div{
  width: 60%;
  height: 0.8rem;
  border-radius: 10px;
  background-color: rgba(102,204,153,0.8);
  position: relative;
}
.skill-level div{
  width: 60%;
  height: 0.8rem;
  content: "";
  border-radius: 10px 0px 0px 10px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
}
.skill-name{
  padding-right: 8px;
  font-size: 14px;
  color: #fff;
}
.contact{
  margin: auto;
/*  color: rgba(230,230,230,0.65);*/
  color: rgb(22,108,94);
}
.contact div{
  box-sizing: border-box;
  padding-left: 10%;
  padding-bottom: 10px;
}
.contact a{
  font-size: 14px;
}
.introduction{
  padding: 50px 10%;
  color: #526F6F;
}
.main-right{
/*  border-left: 1px solid red;*/
  height: 800px;
  margin-left: 32%;
  background-color: rgba(237,234,226,1);
  box-sizing: border-box;
  padding: 36px;
}
.main-title{
  /*color: rgb(80,80,80);*/
  color: rgb(58,35,15);
  font-size: 1.5rem;
  font-weight: 900;
  margin: 1rem 0px;
}
.item{
  margin: 20px 0px;
  font-weight: 100;
  font-size: 14px;
}
.item-title{
  font-size: 18px;
  font-weight: 600;
}
.time{
  font-size: 12px;
}
section p{
  font-size: 14px;
}
.production{
  font-size: 16px;
  font-size: 600;
}

